@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
svg,
video,
canvas {
  display: block;
  width: 100%;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 1.1em;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  font-family: "Roboto Slab", serif;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.card {
  width: 8em;
  height: 8em;
  border: 1px solid #000;
  cursor: pointer;
}

/* .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.card.selected {
  background-color: #ffc107;
}

.card.matched {
  visibility: hidden;
}

.reset-btn {
  padding: 0.7em 2em;
  margin-top: 1.2em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family: inherit;
  font-weight: bold;
  background-color: #0a44b6;
  font-size: 1.3em;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.reset-btn:hover {
  color: #fff;
  background-color: #ff7dbb;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.2rem;
  }

  .card {
    width: 5em;
    height: 5em;
  }
}
